:root {
    --dark-color: rgb(10, 40, 105);
    --light-color:rgb(27, 63, 141);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: var(--dark-color);
    color: whitesmoke;
    width: 75%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    clip-path: polygon(53% 100%, 100% 0, 0 42%, 100% 100%, 25% 0, 79% 0, 0 100%, 100% 39%, 0 0);        
    
}

main {
    width: 75%;
    height: 85vh;
    margin: 0 auto;
    background: var(--light-color);
    padding: 8rem 2rem 3rem 2rem; /*top right bottom left*/
    margin-top: -5rem;
    text-align: justify;
    color: whitesmoke;

}

img {
    width: 500px;
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 2.2rem;
}

.footer {
    width: 75%;
    margin: 0 auto;
    background: var(--dark-color);
    color: whitesmoke;
    text-align: center;
    padding: 3rem;
}